/* variables */

:root {
  --main-color: #f4f6ff;
  --secondary-color: #feceab;
  --logo-color: #092532;
}

* {
  margin: 0;
  padding: 0;
}

/* navbar */
.nav-area {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 10;
  background: #ddf3f57c;
}
.header-inner {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Playfair Display", "Poppins";
  font-weight: bolder;
  font-size: 2rem;
  color: var(--logo-color);
}

.navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0 auto;
}

.navbar-links li a {
  text-decoration: none;
  padding: 1rem;
  color: #ea907a;
  font-size: 1.5rem;
  font-family: sans-serif;
  transition: color 1 ease-in-out;
}

.navbar-links li a:hover {
  color: #323232;
  font-size: 20px;
}

.auth-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-cta {
  border: 1px solid #f3558700;
  padding: 1rem;
  border-radius: 100px;
  background-color: #3232320e;
  transition: 0.5 ease-in-out;
}

.login-cta a {
  text-decoration: none;
  padding: 1rem;
  color: #ea907a;
  font-size: 18px;
  font-family: sans-serif;
}

.auth-area {
  background-color: #b9ac9265;
  padding: 10px;
  border: 0.2px solid rgba(255, 0, 0, 0);
  border-radius: 100px;
}

.auth-area:hover {
  background-color: #438a5e;
}

/* x navbar */

/* login-area */
.login-area {
  padding: 0 100px;
}

.avator-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
  font-size: 10rem;
  color: #fc9d9d;
}

.login-heading-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  font-size: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #fc9d9d;
}

.extra-area {
  display: flex;
  justify-self: center;
  align-items: center;
}

.extra-area p {
  padding-left: 2rem;
  line-height: 30px;
}

.login-form {
}

/* x login-area */
